@import "normalize.css";

body {
  background-color: white;
  font-family: "Consolas", sans-serif;
  font-size: 1.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
}
.calculator {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  max-width: 25rem;
  min-height: 38rem;
  background-color: wheat;
  border: 1px solid black;
}
.display {
  background-color: white;
  display: flex;
  height: 4rem;
}
.display input {
  flex: 1;
  border: none;
  height: 100%;
}
.display input:focus {
  outline: none;
}
.buttons-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.buttons-item {
  border: 1px solid black;
  height: 4rem;
  width: 4rem;
  border-radius: 0.5rem;
}
.buttons-item:hover {
  background-color: black;
  color: white;
}
.buttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
  padding: 0 1rem 1rem 1rem;
}
.buttons-operator-list {
  flex-direction: column;
}
.buttons-number-list {
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.buttons-container {
  display: flex;
  gap: 1rem;
}

.calculator-display {
  text-align: right;
}